@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  /*Variablen*/
  --Font-Color: #fcfcfc;
  --Footer-Font-Color: #f6f6f6;
  /*Variablen*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*Text*/
  font-family: Outfit, Montserrat, Verdana, Arial, Sans-serif;
  text-decoration: none;
}
::selection {
  background-color: #26262667;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.087);
}
body {
  height: 50vw;
  overflow-x: hidden;
  background: #faf9f6;
  background-repeat: no-repeat;
  background-position: center;
}
/*NAVIGATION BAR*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 5vw 0.5vw 5vw;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(
    to top,
    #ff5e62,
    #ff5e62
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff5e62, #ff5e62);
}
header a {
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--Font-Color);

  text-decoration: none;
  font-size: 1.1rem;
}
.Nav-Logo {
  width: 5vw;
  cursor: pointer;
  filter: opacity(0.8);
}
.Nav-Links {
  display: flex;
}
.Nav-Links li {
  display: flex;
  list-style: none;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.Nav-Links li a {
  transition: all 0.3s ease 0s;
  padding: 0.6vw 1.2vw 0.6vw 1.2vw;
  border-radius: 50vw;
}
.Nav-Links li a:hover {
  transform: scale(1.1);
  background-color: #2a2a2a5d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.074);
  text-shadow: 1px 1px 2px rgba(27, 27, 27, 0.107);
}
.Shopping-Cart-Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #e3e3e3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 5vw;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.4s ease 0s;
}
.Shopping-Cart-Container:hover {
  transform: scale(1.1);
}

/*FRONTPAGE*/
.Frontpage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
  background: -webkit-linear-gradient(
    to bottom,
    #ff5e62,
    #ee8856
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ee8856);
}

.HeadlineContainer {
  text-align: center;
  color: white;
}
.HeadlineContainer h1 {
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 6rem;
}

.SubtitleContainer {
  text-align: center;
}
.SubtitleContainer h2 {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.Sushi1 {
  width: 5rem;
}

.animate__bounce {
  animation: bounce 1s infinite;
}

.FrontpageButtonLink {
  margin-top: 5%;
}
.FrontpageButton {
  text-decoration: none;
  line-height: 1;
  transform: scale(1.2);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #121212;
  border: 0;
  cursor: pointer;
  transition: background 2s ease-in 2s;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: #2c2c2c;
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: 0;
}
.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__text {
  display: inline-block;
  transition: color 0.3s;
  padding: 2px 1.5rem 2px;
  padding-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}
.button__icon {
  width: 48px;
  height: 40px;
  background-color: #2c2c2c;
  color: white;
  display: grid;
  place-items: center;
}

.FrontpageButton:hover .button__text {
  color: #fff;
}

.FrontpageButton:hover .button-decor {
  transform: translate(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*FEATURES*/

.FeatureWrapper {
  background: #faf9f6;
}

/*First*/
.custom-shape-divider-top-1709234089 {
  position: absolute;

  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1709234089 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 41px;
}

.custom-shape-divider-top-1709234089 .shape-fill {
  fill: #ee8856;
}

/*SEC*/
.custom-shape-divider-bottom-1709235168 {
  position: absolute;

  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(32%);
}

.custom-shape-divider-bottom-1709235168 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
}

.custom-shape-divider-bottom-1709235168 .shape-fill {
  fill: #ee8856;
}
/*Third*/
.custom-shape-divider-bottom-1709644284 {
  position: absolute;

  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(100%);
  z-index: 100;
}

.custom-shape-divider-bottom-1709644284 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 89px;
}

.custom-shape-divider-bottom-1709644284 .shape-fill {
  fill: #151515;
}

.Features {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.FeatureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
}
.Feature {
  border-radius: 50rem;
  width: 8rem;
  height: 8rem;
  transition: all 0.5s;
}
.Feature:hover {
  transform: scale(1.1);
  filter: saturate(1.2);
}
.FeatureSushi {
  /*  background-color: #ff8080; */
  background-image: linear-gradient(#fc8a7b, #ff9b73);
}
.FeatureDrinks {
  background-color: #8c8dc4;
  background-image: radial-gradient(#6cb4db, #3d90b6);
}
.FeatureVeg {
  background-color: #4dbd6d;
  background-image: radial-gradient(#2dc959, #46b866);
}
.FeatureReis {
  background-color: #f6bd52;
  background-image: radial-gradient(#f6bd52, #e4a93c);
}
.FeatureIcon {
  width: 8rem;
  height: 8rem;
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0.2rem 0.2rem 0rem rgba(46, 46, 46, 0.091));
}
.SushiIcon {
  background-image: url("../Images/sushi-roll.png");
}
.DrinksIcon {
  background-image: url("../Images/water-glass.png");
}
.VegIcon {
  background-image: url("../Images/vegetarian.png");
}
.ReisIcon {
  background-image: url("../Images/rice.png");
}
.FeatureTextContainer {
  margin-top: 0.2vw;
}
.Features h1 {
  color: #151515;
}

.CTA-Headline {
  text-align: center;
  color: #151515;
  font-weight: 900;
}

.CTA-Buttons {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.SpeisekarteButton {
  width: 25%;
  color: #151515;
  font-weight: 800;
  background-color: #ffd043;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.326);
  padding: 1.2% 10% 1.2% 10%;
  border-radius: 0.7vw;
  margin-bottom: 0.5%;
  margin-top: 1%;
  transition: all 0.4s;
}
.SpeisekarteButton:hover {
  transform: scale(1.09);
  background-color: #f7c839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.402);
}
.AllInOneButton {
  width: 25%;
  color: #151515;
  font-weight: 800;
  background-color: #aeaeae;
  padding: 1.2% 8% 1.2% 8%;
  border-radius: 0.7vw;
  margin-bottom: 1%;
  margin-top: 1%;
  transition: all 0.4s;
}
.AllInOneButton:hover {
  transform: scale(1.1);
  background-color: #979797;
}

.Location-Section-Headline-Container {
  position: relative;
  text-align: center;
  top: 15%;
  transition: all 1.5s;
}
.Location-Section-Headline {
  background: -webkit-linear-gradient(#eee, #efefef);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.Location-Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 40vw;
  background: -webkit-linear-gradient(to bottom, #ee8856, #ee7456);
  background: linear-gradient(to bottom, #ee8856, #ee7456);
  z-index: 0;
}

.Location-Section-Headline-Animation2 {
  transition: transform 1.5s, opacity 4s;
  opacity: 1;
}
.Location-Section-Headline-Animation1 {
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(5rem);
}

.MapWidgetLoadedAnimation {
  transition: transform 1.5s, opacity 5s;
  opacity: 1;
}
#MapWidget {
  border: 0;
  border-radius: 2rem;
  margin-left: 30%;
  margin-right: 0.5%;
  height: 20vw;
  width: 30vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.531);
}

.MapWidget2 {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(-20rem);
}

.OpeningTimesAnimation2 {
  transition: transform 1.5s, opacity 4s;
  opacity: 1;
}
.OpeningTimesAnimation1 {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(24rem);
}

.OpeningTimes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 30%;
  margin-left: 0.5%;
}
.OpeningTimes2 {
  box-shadow: 15px 15px 1px rgba(255, 255, 255, 0.105);
  border-radius: 1.5rem;
  background-color: #e1e1e16f;
  width: 15vw;
  height: 20vw;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  transition: all 0.1s;
}

.OpeningTimes2:hover {
  box-shadow: 25px 25px 1px rgba(255, 255, 255, 0.105);
}

.OpeningTimeHeadline {
  position: relative;
  background-color: #e1e1e1c7;
  color: var(--second-color);
  font-weight: 900;
  border-radius: 0.9rem;
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  margin-bottom: 2vw;
  margin-top: 1vw;
}
.OpeningTimes2 table {
  position: relative;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: var(--text-primary);
  bottom: 2.5rem;
}
.OpeningTimes2 td {
  font-size: 1.5rem;
  padding: 5px;
  color: #f8f8f8;
}

.Wochentag {
  font-weight: 900;
}

.Time {
  font-weight: 600;
}

.highlight td {
  color: rgb(39, 39, 39);
  font-weight: 900;
  padding-right: 5px;
}

.BewertungenHeadline {
  text-align: center;
  margin-top: 5%;
}
.BewertungenHeadline h2,
.BewertungenHeadline h3 {
  color: rgb(54, 54, 54);
  font-weight: 400;
  font-size: 2rem;
}
.BewertungenHeadline h2 {
  font-size: 4rem;
  font-weight: 900;
}
.Test5 {
  background-color: rgb(249, 247, 242);
}

.Bewertungen {
  display: flex;
  justify-content: space-between;
  height: 30vw;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: -5%;
}

.Bewertung {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  height: 10vw;
  width: 18vw;
  border-radius: 1.5vw;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.13);
  align-items: center;
  margin-top: 10%;
  color: rgb(36, 36, 36);
  transition: 0.3s;
}

.Bewertung:hover {
  transform: scale(1.1);
  background-color: rgb(227, 227, 227);
}

.BewertungHead {
  position: relative;
  display: flex;
  background-color: #1515152d;
  align-items: center;

  border-radius: 1vw;
  height: 3.5vw;
  width: 16vw;
  margin-bottom: 1%;
}
.BewertungBeschreibung {
  display: flex;
  height: 5vw;
}
.BewertungBeschreibung p {
  margin-left: 5%;
  margin-right: 5%;

  text-align: justify;
}

.RightBewertungContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
}
.BewertungSterne {
  display: flex;
}
.BewertungSterne3 .Star5 {
  color: #dcdcdc;
}
.BewertungSterne i {
  display: flex;
  color: #f8ba47;
  text-shadow: 2px 2px 2px rgba(140, 140, 140, 0.557);
  font-size: 1.4rem;
  letter-spacing: 0.05vw;
}

.ProfilBild,
.ProfilBild2 {
  width: 3vw;
  height: 3vw;
  font-size: 3.5rem;
  margin-left: 3%;
  color: #303030;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.153));
}

.BewertungBtnContainer {
  text-align: center;
  margin-bottom: 20%;
  justify-content: center;
  display: flex;
}
.BewertungBtn {
  color: #121212;
  font-size: 2rem;
  background-color: #f6c86c;
  padding: 1.5%;
  border-radius: 1.5rem;
  transition: all 0.3s;
  font-weight: 700;
}
.BewertungBtn:hover {
  transform: scale(1.05);
  background-color: #f6c45f;
}

.Empfehlung{
  height: 10vw;
}


.EmpfehlungHeadlineContainer{
  text-align: center;
}
.EmpfehlungHeadlineContainer h1{
  font-weight: 800;
  font-size: 2.5rem;
}




/*FOOTER*/
/*FOOTER*/
footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--Footer-Font-Color);
  z-index: 100;
  background: rgb(21, 21, 21);
  background: linear-gradient(
    180deg,
    rgba(21, 21, 21, 1) 22%,
    rgb(22, 22, 22) 95%
  );
  height: 30vw;
}
footer table {
  border: 5px white solid;
  border-radius: 0.5rem;
  margin-bottom: 2vw;
}

footer table td {
  padding: 0.5vw 1.2vw 0.5vw 1.2vw;
  font-weight: 800;
}
.Footer-Time-OT {
  font-weight: 700;
}
/*FOOTER LOCATION*/
.Footer-Location {
  margin-bottom: 0.3vw;
}
.Footer-Location a {
  transition: all 0.2s;
  padding-right: 0.5vw;
  font-weight: 500;
  color: var(--Footer-Font-Color);
}
.Footer-Location a:hover {
  color: rgb(148, 194, 246);
}
.Footer-Location i {
  padding-right: 0.5vw;
}
/*FOOTER LOCATION*/
/*FOOTER LINKS*/
.Footer-Links {
  display: flex;
  justify-content: center;
}
.Footer-Links li {
  list-style-type: none;
}
.Footer-Links a {
  color: var(--Font-Color);
  font-weight: 500;
  padding: 0 1rem 0 1rem;
  transition: all 0.2s;
}
.Footer-Links a:hover {
  color: rgb(246, 151, 148);
}
/*FOOTER LINKS*/

.custom-shape-divider-bottom-1709843456 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(100%);
  margin-top: 0;
}

.custom-shape-divider-bottom-1709843456 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1709843456 .shape-fill {
  fill: #f3f3f3;
}







#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 50px 170px 50px 170px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
